body {
    font-size: 100%;
    margin:0;
}

h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#606060;
    font-size:2em;
    letter-spacing:0.04em;
    text-align: center;
    text-transform: uppercase;
    margin-top: 1em;
}

p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#606060;
    font-size:1em;
    letter-spacing:0.04em;
    text-align: left;
}

.content {
    max-width: 960px;
    margin: auto;
}

.center {
    text-align: center;
}

.center img {
    margin: 9px 11px;

    transition: transform 200ms ease-in-out;
    transform: scale(1);
}

.center img:hover {
    transform: scale(0.95);
}


.Navbar {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    padding: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#888888;
    font-size:0.8em;
    letter-spacing:0.12em;
    text-transform: uppercase;
    text-decoration: none;
}
.Navbar-Hamburger {
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 100vw;
    height:100vh;
    align-items: center;
    padding: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#888888;
    font-size:0.8em;
    letter-spacing:0.12em;
    line-height: 2em;
    text-transform: uppercase;
    text-decoration: none;
    transition: left 200ms ease-out;
    z-index: 1000
}
.Navbar__Link {
    padding-right: 24px;
    text-decoration: none;
}
.Navbar__Items {
    display: flex;
}
.Navbar__Items a {
    text-decoration: none;
    color:#888888;
}
.Navbar__Items--right {
    margin-left:auto;
}
.Navbar__Link--toggle {
    display: none;
}

@media only screen and (max-width: 768px) {
    .Navbar__Items,
    .Navbar {
        justify-content: space-between;

    }
    .Navbar .Navbar__Items {
        display:none;
    }
    .Navbar-Hamburger .Navbar__Items {
        flex-direction: column;
    }
    .Navbar__Items--right {
        margin-left:0;
    }
    .Navbar__ToggleShow {
        display: flex;
    }
    .Navbar__Link--toggle {
        /* align-self: flex-end; */
        display: initial;
        /* position: absolute; */
        cursor: pointer;
        align-items: center;
    }
}
